body {
    margin:40px auto 10px;
    max-width:750px;
    line-height:1.6;
    font-size:16px;
    font-family:"DejaVu Serif",serif;
    color:#444;
    padding:0 10px;
}

#header h1 {
    line-height: 0;
}

#header {
    line-height: 1.0;
    padding: 0px 0px 20px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: grey;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

h1,h2,h3 {
    line-height:1.2
}

h1,h2,h3,h4 {
    font-family: "DejaVu Sans",sans-serif;
}

.nav-back_to_home {
    font-size: 16px;
}

pre {
    font-family: "DejaVu Sans Mono",monospace;
}

.highlight {
    font-size: 14px;
}

#footer {
    font-size: 12px;
    padding: 20px 0px 0px;
    margin: auto 40px;
}
