body {
    font-size:15px;
    font-family:"DejaVu Serif",serif;
    color:#444;
}

#header h1 {
    line-height: 0;
}

#header {
    line-height: 1.0;
    padding: 0px 0px 10px;
}

#navbar {
    padding: 5px 0px 5px;
    margin: 10px auto 10px;
    border-top-style: dashed;
    border-top-width: 2px;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    font-family: "DejaVu Sans",sans-serif;
    font-size: 12px;
}

#content {
    margin:10px auto 10px 0px;
    max-width:750px;
    line-height:1.6;
    padding:0 10px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: grey;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

h1,h2 {
    line-height:1.2
}

h3,h4 {
    font-family: "DejaVu Sans",sans-serif;
    line-height: 1.0;
}

pre {
    font-family: "DejaVu Sans Mono",monospace;
}

.highlight {
    font-size: 14px;
}

#footer {
    border-top-style: dashed;
    border-top-width: 2px;
    font-size: 12px;
    text-align: center;
    padding: 20px 0px 0px;
    //margin: auto 40px;
}
