body {
    background-color: #efefef;
}

.text-content {
    /*
    font-family: 'Source Serif Pro', serif;
    font-size: 16px;
    */
    line-height: 1.6em;
}


#disqus_thread {
	background: #FFFFFF;
}
.post_date {
	font-size: 20px;
	color: #808080;
}

#clear {
	display: block;
	clear: both;
	width: 100%;
	height:1px;
	overflow:hidden;
}
.quote {
	margin: 20px;
	text-align: center;
	font-weight: bold;
	font-style: italic
}

pre {
    margin-top: -1px;
    margin-bottom: -1px;
}

code {
	/*font-family: "Courier New", Courier, monospace */
    /* font-family: 'Source Code Pro'; */
}

figure {
    margin-bottom: 10px;
}

.highlight {
    /* font-size: 12px; */
    line-height: 1.0em;
}
