        </div> <!-- close main container -->
    </div> <!-- close wrapper (for sticky footer) -->
    <div id="push"></div>
    <div id="footer">
        <div class="container">
            <p class="muted">Copyright © 2010-2016 Brandon Silver All Rights Reserved.</p>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
        <!-- <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
