<div class="col-md-3 col-md-offset-1">

    <div class="sidebar">
        <div class="well">
            <h4>About</h4>
                This is just a little "about" well. It'll say something about me, the author. In so
                doing, it will hopefully serve as a helpful aside to random passers-by on the 'net. 
        </div>
        <h4>List</h4>
        <ul>
            <li>This is a list item.</li>
            <li>Another list item.</li>
            <li>Last list item!</li>
        </ul>
    </div>
</div>
